@media screen and (min-width:1034px) {

    #navigation.active,
    .nav-links {
        display: flex;
        flex-direction: row;
    }

    header#header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .toggleNav {
        display: none;
    }

    #navigation {
        display: unset;
    }

    body {
        background-color: red;
    }
}